<h1 mat-dialog-title class="mhq-modal-header">
  <mat-icon>warning_amber</mat-icon>Eliminar {{router.url.startsWith('/fi/tlog') ? 'movimentos':'orçamentos'}}
</h1>

<div mat-dialog-content class="mhq-modal-content-wrapper">

  <p *ngIf="router.url.startsWith('/fi/tlog')">Eliminar o movimento <b>{{treasuryService.activeTLog.title}}</b> ?</p>
  <p *ngIf="router.url.startsWith('/fi/budget')">Eliminar o orçamento <b>{{budgetService.activeBudgetLog.title}}</b> ?</p>

  <mat-slide-toggle #doubleCheckToggle style="margin-top:15px" [disabled]="!haveRecurrency"
    [style]="!haveRecurrency? 'display:none':''">Eliminar todos os {{router.url.startsWith('/fi/tlog') ? 'movimentos':'orçamentos'}} da mesma recorrência</mat-slide-toggle>

</div>

<div *ngIf="haveRecurrency" mat-dialog-actions class="mhq-modal-close-actions">
  <button *ngIf="!doubleCheckToggle.checked" mat-flat-button color="warn" (click)="deleteTreasuryLog()">Eliminar
    {{router.url.startsWith('/fi/tlog') ? 'movimento':'orçamento'}}</button>
  <button *ngIf="doubleCheckToggle.checked" mat-flat-button color="warn" (click)="deleteAllRecurrencies()">Eliminar
    todos os {{router.url.startsWith('/fi/tlog') ? 'movimentos':'orçamentos'}}</button>
  <button mat-stroked-button mat-dialog-close color="warn">Cancelar</button>
</div>

<div *ngIf="!haveRecurrency" mat-dialog-actions class="mhq-modal-close-actions">
  <button mat-flat-button color="warn" (click)="deleteTreasuryLog()">Eliminar
    {{router.url.startsWith('/fi/tlog') ? 'movimento':'orçamento'}}</button>
  <button mat-stroked-button mat-dialog-close color="warn">Cancelar</button>
</div>