::ng-deep {
  .mat-dialog-container {
    padding: 0 !important;
  }
}

* {
  box-sizing: border-box;
}

.mhq-modal-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  background-color: var(--mhq-waikiki-danger);
  color: var(--mhq-light-text);
  height: 70px;
  margin: 0;
  mat-icon {
    padding-right: 15px;
    box-sizing: content-box;
  }
}

.mhq-modal-content-wrapper {
  height: calc(100% - 70px - 70px);
  padding: 2vh 1.5vw 2vh;
  margin: 0;
  overflow: clip;

  .mhq-category-modal-label {
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.mhq-modal-close-actions {
  height: 70px;
  button {
    margin: 0 5px;
    &:first-of-type {
      margin-left: 25px;
    }
  }
}
