<h1 mat-dialog-title class="mhq-modal-header">
  <mat-icon>warning_amber</mat-icon>Remover categoria
</h1>

<div mat-dialog-content class="mhq-modal-content-wrapper">

  Tens a certeza que queres remover a categoria <span class="mhq-category-modal-label"
    [style]="'background-color:'+categoriesService.activePreviewCategory.bgcolor+';color:'+categoriesService.activePreviewCategory.textcolor">{{categoriesService.activePreviewCategory.title}}</span>
  e respetivas sub-categorias?
  <ng-scrollbar>
    <ul>
      <li *ngFor="let subcat of categoriesService.activePreviewCategory.subcats">{{subcat.title}}</li>
    </ul>
  </ng-scrollbar>

</div>

<div mat-dialog-actions class="mhq-modal-close-actions">
  <button mat-flat-button color="warn" (click)="deleteCategory()">Remover categoria</button>
  <button mat-stroked-button mat-dialog-close color="primary">Cancelar</button>
</div>