::ng-deep {
  .mhq-sucess-snackbar {
    background: var(--mhq-waikiki-sucess);
    color: var(--mhq-dark-text);
  }
  .mhq-failure-snackbar {
    background: var(--mhq-waikiki-danger);
    color: var(--mhq-light-text);
  }
  mhq-mhq-snack-bar div {
    display: flex;
    align-items: center;

    p#mhq-snackbar {
      margin: 0;
      span {
        font-weight: 600;
      }
    }
  }
}



mat-icon {
  padding-right: 10px;
}
