::ng-deep {
  .total-label{
    padding-top:5px!important
  }
  .item-value {
    margin-top: 0px!important;
    margin-bottom: 4px!important;
  }
  .item-percent {
    opacity: 0!important;
  }

}
mat-card{
  font-family: HK Grotesk, Helvetica Neue, sans-serif;
}