<!-- <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar> -->



<div class="mhq-mainform-container">

  <div class="mhq-row mhq-mainform-header">
    <h1>
      <mat-icon>account_balance</mat-icon>E-Fatura
    </h1>

    <div class="mhq-mainform-actions">
      <button mat-stroked-button color="primary" [matMenuTriggerFor]="gridViewActions">
        <mat-icon>menu_open</mat-icon>Ações
      </button>
    </div>
  </div>

  <mat-menu #gridViewActions="matMenu">
    <button mat-menu-item (click)="efatSelectModal('300ms','150ms')">
      <mat-icon>grid_view</mat-icon>
      <span>Selecionar categorias</span>
    </button>
  </mat-menu>

  <mat-progress-bar *ngIf="!snapshotsReady || !movementsReady" mode="indeterminate" color="accent"></mat-progress-bar>


  <div class="mhq-row mhq-mainform-content"
    style="flex-direction: column;justify-content: space-between;padding-top:25px;align-items: center;">


    <div id="temp-row-dos-cartoes" *ngIf="snapshotsReady" style="display:flex;flex-direction:row;width: 75%;flex-wrap: wrap;height: 400px;">

      <div *ngFor="let efatsnap of eFaturaSnapshots; let i = index" style="width:calc(100% / 6 - 20px);margin:10px 10px">
        <mat-card style="padding:0 0 16px;border-radius: 15px;">

          <div class="mhq-row"
            [style]="'border-top-right-radius: 15px;border-top-left-radius: 15px;height:70px;background-color:'+eFaturaService.efaturaTable[efatsnap[0]].color">
            <mat-icon
              style="color:#Fff;font-size:36px;height:100%;width:auto;margin:0px auto 10px;display: flex; justify-content: center; align-items: center;">
              {{eFaturaService.efaturaTable[efatsnap[0]].icon}}</mat-icon>
          </div>

          <div style="padding:5px 0;text-align: center;height:60px;display: flex;align-items: center;justify-content: center;"><span style="width: 80%">{{eFaturaService.efaturaTable[efatsnap[0]].title}}</span></div>
          <div style="text-align: center;font-size:24px;">{{efatsnap[1] | number:'1.2-2':'pt'}}</div>
        </mat-card>
      </div>
    </div>



    <div id="temp-row-dos-movs" *ngIf="movementsReady"
      style="flex-direction: row;justify-content: center;padding-top:25px;align-items: flex-start;height:calc(100% - 400px);width: 100%;">
      <h2>Movimentos por validar</h2>
      <div *ngFor="let tlog of movimentsToValidate; let i = index;">
        <div style="width: 300px;height:20px;background:pink;border:1px solid black;padding:20px"
          (click)="efatCheckModal('300ms','150ms',i)">{{tlog.title}}</div>
      </div>
    </div>

  </div>
</div>



