<mat-progress-bar *ngIf="!isMatTableReady" mode="indeterminate" color="accent"></mat-progress-bar>

<div *ngIf="isMatTableReady" class="mhq-mainform-container">

  <div class="mhq-row mhq-mainform-header">
    <h1>
      <mat-icon>account_balance</mat-icon>Orçamentos
    </h1>

    <div class="mhq-mainform-actions">
      <button mat-flat-button color="accent" (click)="budgetingService.addMode(false)">

        <mat-icon>add</mat-icon>Adicionar orçamento
      </button>
    </div>
  </div>

  <div class="mhq-row mhq-mainform-content">
    <table mat-table [dataSource]="dataSource">

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <ng-container matColumnDef="cat">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Data </th>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título </th>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
      </ng-container>
    </table>

    <ng-scrollbar style="width:100%">
      <table mat-table [dataSource]="dataSource">

        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewMode(row.id)"></tr>

        <ng-container matColumnDef="cat">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color':categoriesService.catEnum[element.cat].bgcolor,'color':categoriesService.catEnum[element.cat].textcolor}">
            <div>
              <mat-icon>{{categoriesService.catEnum[element.cat].icon}}</mat-icon>
              <span>{{categoriesService.subcatEnum[element.subcat].title}}</span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <td mat-cell *matCellDef="let element"> {{element.date | date:"dd/MM/yyyy"}} </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <td mat-cell *matCellDef="let element"
            [style]="element.type === 'expense' ? 'font-weight:500;color:red' : 'font-weight:500;color:green' ">
            {{element | guita: true}} </td>
        </ng-container>
      </table>

    </ng-scrollbar>
  </div>

  <div class="mhq-row mhq-mainform-footer">
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div *ngIf="router.url !== '/fi/budget'" id="mhq-budget-details"
  class="animate__animated animate__slideInRight mhq-mainform-container mhq-row">
  <router-outlet></router-outlet>
</div>