<div class="mhq-row full-height mhq-mainform-details-wrapper">

  <div class="mhq-mainform-drawer-actions">
    <div class="mhq-quickaction-close" (click)="categoriesService.closeDetails()">
      <mat-icon>close</mat-icon>
    </div>
    <div *ngIf="!editingMode" class="mhq-quickaction-default" (click)="editingCategoryRecordActions('edit')"><button
        mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button></div>
    <div *ngIf="editingMode" class="mhq-quickaction-save" (click)="editingCategoryRecordActions('save')"><button
        mat-icon-button>
        <mat-icon>save</mat-icon>
      </button></div>
    <div *ngIf="editingMode" class="mhq-quickaction-delete" (click)="editingCategoryRecordActions('end')"><button
        mat-icon-button>
        <mat-icon>not_interested</mat-icon>
      </button></div>

    <div *ngIf="!editingMode" class="mhq-quickaction-default"><button mat-icon-button
        (click)="categoriesService.createNewRecord(true)">
        <mat-icon>file_copy</mat-icon>
      </button></div>

    <div *ngIf="!editingMode" class="mhq-quickaction-delete" (click)="deleteCategoryModal('300ms', '150ms')"><button
        mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button></div>

    <div [ngStyle]="categoriesService.recordBorderStyle"></div>
  </div>


  <div class="mhq-mainform-drawer-content">

    <div class="mhq-wrapper-row" *ngIf="!editingMode">
      <h1>
        <div>
          <mat-icon>info_outline</mat-icon>Detalhes
        </div>
      </h1>
      <div class="mhq-row">
        <div class="mhq-input-wrapper mhq-col-1">
          <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput disabled [value]="fiCategory.id">
          </mat-form-field>
        </div>
        <div class="mhq-input-wrapper mhq-col-8">
          <mat-form-field appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput disabled [value]="fiCategory.title">
          </mat-form-field>
        </div>
        <div class="mhq-input-wrapper mhq-col-1">
          <mat-form-field appearance="fill">
            <mat-label>Icon</mat-label>
            <input matInput disabled>
            <mat-icon matSuffix>{{fiCategory.icon}}</mat-icon>
          </mat-form-field>
        </div>
        <div class="mhq-input-wrapper mhq-col-2 mhq-checkbox-wrapper">
          <mat-checkbox color="primary" disabled [checked]="fiCategory.active">Ativa</mat-checkbox>
        </div>
      </div>
      <div class="mhq-row">
        <div class="mhq-input-wrapper mhq-col-4 mhq-radio-group">
          <p>Tipo:</p>
          <mat-radio-group color="primary" disabled [value]="fiCategory.type">
            <mat-radio-button value="expense">Despesa</mat-radio-button>
            <mat-radio-button value="income">Rendimento</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="mhq-input-wrapper mhq-col-4">
          <mat-form-field appearance="fill">
            <mat-label>Cor etiqueta</mat-label>
            <input matInput disabled [value]="fiCategory.bgcolor">
          </mat-form-field>
        </div>
        <div class="mhq-input-wrapper mhq-col-4">
          <mat-form-field appearance="fill">
            <mat-label>Cor texto</mat-label>
            <input matInput disabled [value]="fiCategory.textcolor">
          </mat-form-field>
        </div>

      </div>
    </div>

    <div class="mhq-wrapper-row" *ngIf="editingMode">
      <h1>
        <div>
          <mat-icon>info_outline</mat-icon>Detalhes
        </div>
      </h1>
      <div class="mhq-row">
        <div class="mhq-input-wrapper mhq-col-1">
          <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput disabled [value]="tempFiCategory.id">
          </mat-form-field>
        </div>
        <div class="mhq-input-wrapper mhq-col-8">
          <mat-form-field appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput [(ngModel)]="tempFiCategory.title">
          </mat-form-field>
        </div>
        <div class="mhq-input-wrapper mhq-col-1">
          <mat-form-field appearance="fill">
            <mat-label>Icon</mat-label>
            <input matInput [(ngModel)]="tempFiCategory.icon">
          </mat-form-field>
        </div>
        <div class="mhq-input-wrapper mhq-col-2 mhq-checkbox-wrapper">
          <mat-checkbox color="primary" [(ngModel)]="tempFiCategory.active">Ativa</mat-checkbox>
        </div>
      </div>
      <div class="mhq-row">
        <div class="mhq-input-wrapper mhq-col-4 mhq-radio-group">
          <p>Tipo:</p>
          <mat-radio-group color="primary" [(ngModel)]="tempFiCategory.type">
            <mat-radio-button value="expense">Despesa</mat-radio-button>
            <mat-radio-button value="income">Rendimento</mat-radio-button>
          </mat-radio-group>
        </div>



        <div class="mhq-input-wrapper mhq-col-4">
          <mat-form-field appearance="fill">
            <mat-label>Cor etiqueta</mat-label>
            <input matInput [cpPosition]="'bottom'" [cpOutputFormat]="'rgba'" [cpAlphaChannel]="'disabled'"
              [cpPositionOffset]="'5%'" [cpPositionRelativeToArrow]="true" [cpCancelButton]="true" [cpOKButton]="true"
              [cpSaveClickOutside]="true" [(colorPicker)]="tempFiCategory.bgcolor" [(ngModel)]="tempFiCategory.bgcolor">
          </mat-form-field>
        </div>
        <div class="mhq-input-wrapper mhq-col-4">
          <mat-form-field appearance="fill">
            <mat-label>Cor texto</mat-label>
            <input matInput [cpPosition]="'bottom'" [cpOutputFormat]="'rgba'" [cpAlphaChannel]="'disabled'"
              [cpPositionOffset]="'5%'" [cpPositionRelativeToArrow]="true" [cpCancelButton]="true" [cpOKButton]="true"
              [cpSaveClickOutside]="true" [(colorPicker)]="tempFiCategory.textcolor"
              [(ngModel)]="tempFiCategory.textcolor">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="mhq-wrapper-row">
      <h1>
        <div>
          <mat-icon>low_priority</mat-icon>Sub-categorias
        </div>
      </h1>

      <div *ngIf="fiCategory.subcats.length===0 && !editingMode" class="mhq-row mhq-no-subcategories">
        <div>
          <mat-icon>data_array</mat-icon>
        </div>
        <p>Não existem sub-categorias configuradas para a categoria
          <span [ngStyle]="{'background-color':categoriesService.catEnum[fiCategory.id].bgcolor,'color':categoriesService.catEnum[fiCategory.id].textcolor}">{{fiCategory.title}}</span>
        </p>
      </div>

      <div *ngIf="tempFiCategory.subcats.length===0 && editingMode" class="mhq-row mhq-no-subcategories">
        <div (click)="attachSubcategory()">
          <mat-icon>add</mat-icon>
        </div>
        <p>Carrega para adicionar uma nova sub-categoria</p>
      </div>

      <table *ngIf="fiCategory.subcats.length>0 && !editingMode">
        <thead>
          <tr>
            <th>Título</th>
            <th>Orçamento</th>
            <th>Ativa</th>

          </tr>
        </thead>
      </table>

      <ng-scrollbar *ngIf="fiCategory.subcats.length>0 && !editingMode" style="height: 100%;width: 100%;">
        <table>
          <tbody>
            <tr *ngFor="let subcat of fiCategory.subcats">
              <td>
                <div class="mhq-mat-inputs-margin">{{subcat.title}}</div>
              </td>
              <td>
                <div class="mhq-mat-inputs-margin">{{subcat.budget | guitaSimplex}}</div>
              </td>
              <td>
                <div class="mhq-mat-inputs-margin">
                  <mat-checkbox color="primary" disabled [checked]="subcat.active"></mat-checkbox>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-scrollbar>

      <table *ngIf="tempFiCategory.subcats.length>0 && editingMode">
        <thead>
          <tr>
            <th>Título</th>
            <th>Orçamento</th>
            <th>Ativa</th>
            <th></th>
          </tr>
        </thead>
      </table>

      <ng-scrollbar *ngIf="tempFiCategory.subcats.length>0 && editingMode" style="height: 100%;width: 100%;">
        <table id="edit-table">
          <tbody>
            <tr *ngFor="let tempsubcat of tempFiCategory.subcats">
              <td>
                <mat-form-field appearance="fill">
                  <input matInput [(ngModel)]="tempsubcat.title">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="fill">
                  <input class="mhq-budget-input" matInput [(ngModel)]="tempsubcat.budget">
                </mat-form-field>
              </td>
              <td>
                <div class="mhq-mat-inputs-margin">
                  <mat-checkbox color="primary" [(ngModel)]="tempsubcat.active"></mat-checkbox>
                </div>
              </td>
              <td (click)="dettachSubcategory(tempsubcat.id)">
                <div class="mhq-mat-inputs-margin">
                  <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="mhq-add-subcat-cell" colspan="6" (click)="attachSubcategory()">
                <div class="mhq-add-subcat"><mat-icon>add</mat-icon>adicionar sub-categoria</div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-scrollbar>

    </div>

  </div>
</div>