[class^="mhq-col-"] {
  overflow-x: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

mat-form-field {
  width: 95%;
}

.radio-group {
  // flex-direction: row;
  justify-content: space-evenly;
}

mat-radio-button {
  padding: 0 20px;
}

.mhq-category-details-wrapper {
  .mhq-wrapper-row {
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
      height: 40%;
    }
    &:nth-child(2) {
      height: 60%;
    }
  }
}
