<p>category-details {{id}} works</p>

<mat-form-field appearance="fill">
  <mat-label>ID</mat-label>
  <input matInput [value]="fiCategory.id">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Title</mat-label>
  <input matInput [value]="fiCategory.title">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Icon</mat-label>
  <input matInput [value]="fiCategory.icon">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Type</mat-label>
  <input matInput [value]="fiCategory.type">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Color</mat-label>
  <input matInput [value]="fiCategory.color">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Inactive</mat-label>
  <input matInput [value]="fiCategory.inactive">
</mat-form-field>

<h1>todo: table com sub-caterogiras</h1>