<div class="mhq-row full-height mhq-mainform-details-wrapper">

  <div class="mhq-mainform-drawer-actions">

    <div class="mhq-quickaction-close" (click)="categoriesService.closeDetails()">
      <mat-icon>close</mat-icon>
    </div>

    <div class="mhq-quickaction-save" (click)="catRecordActions('save')"><button mat-icon-button>
        <mat-icon>save</mat-icon>
      </button></div>

    <div class="mhq-quickaction-delete" (click)="catRecordActions('cancel')"><button mat-icon-button>
        <mat-icon>not_interested</mat-icon>
      </button></div>

    <div [ngStyle]="categoriesService.recordBorderStyle"></div>

  </div>

  <div class="mhq-mainform-drawer-content">
    <mat-progress-bar
    *ngIf="!this.loadingService.categoriesLoadingComplete"
    mode="indeterminate" color="accent"></mat-progress-bar>


    <div class="mhq-wrapper-row" *ngIf="this.loadingService.categoriesLoadingComplete">

      <h1>
        <div>
          <mat-icon>info_outline</mat-icon>Detalhes
        </div>
      </h1>

      <div class="mhq-row">

        <div class="mhq-input-wrapper mhq-col-1">
          <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput disabled [value]="tempCat.id">
          </mat-form-field>
        </div>

        <div class="mhq-input-wrapper mhq-col-8">
          <mat-form-field appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput [(ngModel)]="tempCat.title">
          </mat-form-field>
        </div>

        <div class="mhq-input-wrapper mhq-col-1">
          <mat-form-field appearance="fill">
            <mat-label>Icon</mat-label>
            <input matInput [(ngModel)]="tempCat.icon">
          </mat-form-field>
        </div>

        <div class="mhq-input-wrapper mhq-col-2 mhq-checkbox-wrapper">
          <mat-checkbox color="primary" [(ngModel)]="tempCat.active">Ativa</mat-checkbox>
        </div>

      </div>

      <div class="mhq-row">

        <div class="mhq-input-wrapper mhq-col-4 mhq-radio-group">
          <p>Tipo:</p>
          <mat-radio-group color="primary" [(ngModel)]="tempCat.type">
            <mat-radio-button value="expense">Despesa</mat-radio-button>
            <mat-radio-button value="income">Rendimento</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="mhq-input-wrapper mhq-col-4">
          <mat-form-field appearance="fill">
            <mat-label>Cor fundo etiqueta</mat-label>
            <input matInput [cpPosition]="'bottom'" [cpOutputFormat]="'rgba'" [cpAlphaChannel]="'disabled'"
              [cpPositionOffset]="'5%'" [cpPositionRelativeToArrow]="true" [cpCancelButton]="true" [cpOKButton]="true"
              [cpSaveClickOutside]="true" [(colorPicker)]="tempCat.bgcolor" [(ngModel)]="tempCat.bgcolor">
          </mat-form-field>
        </div>

        <div class="mhq-input-wrapper mhq-col-4">
          <mat-form-field appearance="fill">
            <mat-label>Cor texto etiqueta</mat-label>
            <input matInput [cpPosition]="'bottom'" [cpOutputFormat]="'rgba'" [cpAlphaChannel]="'disabled'"
              [cpPositionOffset]="'5%'" [cpPositionRelativeToArrow]="true" [cpCancelButton]="true" [cpOKButton]="true"
              [cpSaveClickOutside]="true" [(colorPicker)]="tempCat.textcolor"
              [(ngModel)]="tempCat.textcolor">
          </mat-form-field>
        </div>

      </div>

    </div>

    <div class="mhq-wrapper-row" *ngIf="this.loadingService.categoriesLoadingComplete">

      <h1>
        <div>
          <mat-icon>low_priority</mat-icon>Sub-categorias
        </div>
      </h1>

      <div *ngIf="tempCat.subcats.length===0" class="mhq-row mhq-no-subcategories">

        <div (click)="createSubcat()">
          <mat-icon>add</mat-icon>
        </div>
        <p>Carrega para adicionar uma nova sub-categoria</p>

      </div>

      <table *ngIf="tempCat.subcats.length>0">
        <thead>
          <tr>
            <th>Título</th>
            <th>Orçamento</th>
            <th>Ativa</th>
            <th></th>
          </tr>
        </thead>
      </table>
      <ng-scrollbar *ngIf="tempCat.subcats.length>0" style="height: 100%;width: 100%;">
        <table id="edit-table">
          <tbody>
            <tr *ngFor="let tempsubcat of tempCat.subcats; let i = index;">
              <td>
                <mat-form-field appearance="fill">
                  <input matInput [(ngModel)]="tempsubcat.title">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="fill">
                  <input class="mgh-budget-input" matInput [(ngModel)]="tempsubcat.budget">
                </mat-form-field>
              </td>
              <td>
                <div class="mhq-mat-inputs-margin">
                  <mat-checkbox color="primary" [(ngModel)]="tempsubcat.active"></mat-checkbox>
                </div>
              </td>
              <td (click)="deleteSubcat(i)">
                <div class="mhq-mat-inputs-margin">
                  <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="mhq-add-subcat-cell" colspan="6" (click)="createSubcat()">
                <div class="mhq-add-subcat"><mat-icon>add</mat-icon>adicionar sub-categoria</div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-scrollbar>

    </div>

  </div>

</div>