<div class="mhq-row full-height mhq-category-details-wrapper">

  <div class="mhq-categories-drawer-left">
    <div class="mhq-quickaction-close" (click)="categoriesService.closeDetails()">
      <mat-icon>close</mat-icon>
    </div>

    <div class="mhq-quickaction-save" (click)="newCategoryRecordActions('save')"><button mat-icon-button>
        <mat-icon>save</mat-icon>
      </button></div>
    <div class="mhq-quickaction-delete" (click)="newCategoryRecordActions('end')"><button mat-icon-button>
        <mat-icon>not_interested</mat-icon>
      </button></div>


    <div [ngStyle]="categoriesService.recordBorderStyle"></div>
  </div>

  <div class="mhq-categories-drawer-right">

    <div class="mhq-wrapper-row">
      <h1><mat-icon>info_outline</mat-icon>Detalhes</h1>
      <div class="mhq-row">
        <div class="mhq-col-1">
          <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput disabled [value]="tempFiCategory.id">
          </mat-form-field>
        </div>
        <div class="mhq-col-8">
          <mat-form-field appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput [(ngModel)]="tempFiCategory.title">
          </mat-form-field>
        </div>
        <div class="mhq-col-1">
          <mat-form-field appearance="fill">
            <mat-label>Icon</mat-label>
            <input matInput [(ngModel)]="tempFiCategory.icon">
          </mat-form-field>
        </div>
        <div class="mhq-col-2 mhq-checkbox-wrapper">
          <mat-checkbox color="primary" [(ngModel)]="tempFiCategory.active">Ativa</mat-checkbox>
        </div>
      </div>
      <div class="mhq-row">
        <div class="mhq-col-4 radio-group">
          <p>Tipo:</p>
          <mat-radio-group color="primary" [(ngModel)]="tempFiCategory.type">
            <mat-radio-button value="expense">Despesa</mat-radio-button>
            <mat-radio-button value="income">Rendimento</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="mhq-col-4">
          <mat-form-field appearance="fill">
            <mat-label>Cor fundo etiqueta</mat-label>
            <input matInput [cpPosition]="'bottom'" [cpOutputFormat]="'rgba'" [cpAlphaChannel]="'disabled'"
              [cpPositionOffset]="'5%'" [cpPositionRelativeToArrow]="true" [cpCancelButton]="true" [cpOKButton]="true"
              [cpSaveClickOutside]="false" [(colorPicker)]="tempFiCategory.bgcolor" [(ngModel)]="tempFiCategory.bgcolor">
          </mat-form-field>
        </div>
        <div class="mhq-col-4">
          <mat-form-field appearance="fill">
            <mat-label>Cor texto etiqueta</mat-label>
            <input matInput [cpPosition]="'bottom'" [cpOutputFormat]="'rgba'" [cpAlphaChannel]="'disabled'"
              [cpPositionOffset]="'5%'" [cpPositionRelativeToArrow]="true" [cpCancelButton]="true" [cpOKButton]="true"
              [cpSaveClickOutside]="false" [(colorPicker)]="tempFiCategory.textcolor" [(ngModel)]="tempFiCategory.textcolor">
          </mat-form-field>
        </div>

      </div>
    </div>


    <div class="mhq-wrapper-row">
      <h1><mat-icon>low_priority</mat-icon>Sub-categorias</h1>

      <div *ngIf="tempFiCategory.subcats.length===0">no rows. <span (click)="createSubcategory()">click to
          add</span></div>

      <table *ngIf="tempFiCategory.subcats.length>0">
        <thead>
          <tr>
            <th>Título</th>
            <th>Orçamento</th>
            <th>Ativa</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tempsubcat of tempFiCategory.subcats; let i = index;">
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Título</mat-label>
                <input matInput [(ngModel)]="tempsubcat.title">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Orçamento</mat-label>
                <input matInput [(ngModel)]="tempsubcat.budget">
              </mat-form-field>
            </td>
            <td>
              <div class="mhq-mat-inputs-margin"><mat-checkbox color="primary" [(ngModel)]="tempsubcat.active"></mat-checkbox></div>
            </td>
            <td (click)="deleteSubcategory(i)"><div class="mhq-mat-inputs-margin">
              <button mat-icon-button><mat-icon>delete</mat-icon></button>
            </div></td>
          </tr>
          <tr>
            <td colspan="6" (click)="createSubcategory()">add-shiet bro</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>