<div class="mhq-mainform-container">

  <div class="mhq-row mhq-mainform-header">
    <h1><mat-icon>account_balance</mat-icon>Movimentos de tesouraria</h1>
    <div class="mhq-mainform-actions"><button mat-flat-button color="primary" (click)="addTreasuryLog()">
        <mat-icon>add</mat-icon>Adicionar movimento
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="cat">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element" [style]="getCatStyle(element.cat)">
        <mat-icon>{{getCatIcon(element.cat)}}</mat-icon> {{getCatLabel(element.cat,element.subcat)}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:"dd/MM/yyyy"}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>



    <!-- <ng-container matColumnDef="subcat">
      <th mat-header-cell *matHeaderCellDef> Sub-Categoria </th>
      <td mat-cell *matCellDef="let element"> {{getSubCatLabel(element.cat,element.subcat)}} </td>
    </ng-container> -->

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"
        [ngClass]="element.type === 'expense' ? 'mhq-tlog-expense-value-cell' : 'mhq-tlog-income-value-cell' ">
        {{element.type === 'expense'?'- ':''}}{{element.value | currency:'EUR'}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showLogDetails(row.id,row.cat)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
<!-- <div id="mhq-category-details" class="animate__animated animate__slideInRight mhq-mainform-container mhq-row"
  [ngStyle]="{'border-left': '30px solid rgb('+financialService.activeCatBorderColor+')'}"
  *ngIf="router.url !== '/fi/tlogs'"> -->
  <div id="mhq-category-details" class="animate__animated animate__slideInRight mhq-mainform-container mhq-row"
  [ngStyle]="{'border-left': '30px solid rgb(1,1,1)'}"
  *ngIf="router.url !== '/fi/tlogs'">
  <router-outlet></router-outlet>
</div>