#mhq-category-details {
  position: absolute;
  top: var(--navbar-height);
  right: 0;
  height: calc(100vh - var(--navbar-height));
  background: #fafafa;
  width: 70vw;
  // border-left: 30px solid var(--mhq-waikiki-color-3);
}

::ng-deep mhq-treasury-details {
  width: 70vw;
}

::ng-deep mhq-new-treasury-log {
  width: 100%;
}


.mhq-mainform-header{
  justify-content: space-between;
}

.mhq-mainform-actions {
  height: 36px;
  padding-bottom: 5px;
  mat-icon {
    padding-right: 4px;
    margin-bottom: 3px;
    margin-left: -5px;
    font-size:24px;
  }
}



table {
  width: 100%;
  tr:not(.mat-header-row):hover {
    background-color: var(--mhq-waikiki-color-5);
    cursor: pointer;
  }
  tr {
    th {
      text-align: center;
      &:nth-child(1) {
        width: 150px;
        padding:0;

      }
      &:nth-child(2) {
        width: auto;
        text-align: left;
      }
      &:nth-child(3) {
        width: 150px;
      }
      &:nth-child(4) {
        width: 150px;
        text-align: right;
      }
    }

    td {
      text-align: center;
      &:nth-child(1) {
        width: 150px;
        padding:0;
      }
      &:nth-child(2) {
        width: auto;
        text-align: left;
      }
      &:nth-child(3) {
        width: 150px;
      }
      &:nth-child(4) {
        width: 150px;
        text-align: right;
      }
    }
  }
}