table {
  width: 100%;
  tr:not(.mat-header-row):hover {
    background-color: var(--mhq-waikiki-color-5);
    cursor: pointer;
  }
  tr {
    th {
      text-align: center;
      &:nth-child(1) {
        width: 15%;
        padding:0;

      }
      &:nth-child(2) {
        width: auto;
        text-align: left;
      }
      &:nth-child(3) {
        width: 150px;
      }
      &:nth-child(4) {
        width: 150px;
        text-align: right;
      }
    }

    td {
      text-align: center;
      &:nth-child(1) {
        width: 150px;
        padding:0;
      }
      &:nth-child(2) {
        width: auto;
        text-align: left;
      }
      &:nth-child(3) {
        width: 150px;
      }
      &:nth-child(4) {
        width: 150px;
        text-align: right;
      }
    }
  }
}