<mat-progress-bar *ngIf="!isMatTableReady" mode="indeterminate" color="accent"></mat-progress-bar>

<div *ngIf="isMatTableReady" class="mhq-mainform-container">

  <div class="mhq-row mhq-mainform-header">
    <h1>
      <mat-icon>account_balance</mat-icon>Movimentos de tesouraria
    </h1>
    <div class="mhq-mainform-actions"><button mat-flat-button color="accent" (click)="treasuryService.addMode(false)">
        <mat-icon>add</mat-icon>Adicionar movimento
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="cat">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="miscService.getCategoryStyles(element.cat)">
        <mat-icon>{{miscService.getCategory(element.cat).icon}}</mat-icon>
        <span>{{miscService.getSubcategory(element.cat,element.subcat).title}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:"dd/MM/yyyy"}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"
        [style]="element.type === 'expense' ? 'font-weight:500;color:red' : 'font-weight:500;color:green' ">
        {{element | guita: true}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewMode(row.id,row.cat)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>

</div>

<div *ngIf="router.url !== '/fi/tlogs'" id="mhq-category-details"
  class="animate__animated animate__slideInRight mhq-mainform-container mhq-row">
  <router-outlet></router-outlet>
</div>