<div class="mhq-mainform-container">

  <div class="mhq-row mhq-mainform-header">
    <h1>
      <mat-icon>account_balance</mat-icon>Movimentos de tesouraria
    </h1>
    <div class="mhq-mainform-actions"><button mat-flat-button color="primary" (click)="treasuryService.addMode(false)">
        <mat-icon>add</mat-icon>Adicionar movimento
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="cat">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element" [style]="treasuryService.getCatStyle(element.cat)">
        <mat-icon>{{treasuryService.getCatIcon(element.cat)}}</mat-icon>
        {{treasuryService.getSubCatLabel(element.cat,element.subcat)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:"dd/MM/yyyy"}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"
        [style]="element.type === 'expense' ? 'font-weight:500;color:red' : 'font-weight:500;color:green' ">
        {{element.type === 'expense'?'- ':''}}{{element.value | currency:'EUR'}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewMode(row.id,row.cat)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
still loading
<div id="mhq-category-details" class="animate__animated animate__slideInRight mhq-mainform-container mhq-row"
  *ngIf="router.url !== '/fi/tlogs'">
  <router-outlet></router-outlet>
</div>