#mhq-category-details {
  position: absolute;
  top: var(--navbar-height);
  right:0;
  height: calc(100vh - var(--navbar-height));
  background:#fafafa;
  width:70vw;
  border-left: 30px solid var(--mhq-waikiki-color-3);

}
::ng-deep mhq-category-details {
  width: 70vw;
}

// ::ng-deep #mhq-category-details > * {
//   width: 70vw;
// }

