<h1 mat-dialog-title class="mhq-modal-header">
  <mat-icon>search</mat-icon>Configurar gráfico
</h1>

<div mat-dialog-content class="mhq-modal-content-wrapper mhq-row" style="padding: 2vh 4.5vw 0.5vh;">

  <div style="height:5px">
    <mat-progress-bar *ngIf="analysisService.waitingForSQL" mode="indeterminate" color="accent">
    </mat-progress-bar>
  </div>

  <div style="height:calc(25% - 5px);display: flex;
  justify-content: flex-end;align-items:center;">
    <div>
      <button (click)="saveGraphSettings()" *ngIf="editingMode" mat-mini-fab color="primary"
        style="background-color:var(--mhq-waikiki-sucess);color:#000;margin:0 15px">
        <mat-icon>save</mat-icon>
      </button>
      <button (click)="exitingEditingMode()" *ngIf="editingMode" mat-mini-fab color="warn">
        <mat-icon>not_interested</mat-icon>
      </button>
      <button (click)="enteringEditingMode()" *ngIf="!editingMode" mat-mini-fab color="primary">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="!editingMode && !analysisService.waitingForSQL">
    <div style="width:100%;display: flex;flex-wrap: wrap;">

      <div style="width:calc(100% / 12 * 8)">{{analysisService.graphConfig.title}}</div>
      <div style="width:calc(100% / 12 * 2)">{{analysisService.graphConfig.year}}</div>
      <div style="width:calc(100% / 12 * 2)">{{analysisService.graphConfig.duration}}</div>
      <div style="width:calc(100% / 12 * 6)">{{analysisService.graphConfig.acomul}}</div>
      <div style="width:calc(100% / 12 * 6)">{{analysisService.graphConfig.target}}</div>


      <br>

      <div *ngIf="analysisService.graphConfig.target === 'cat'">
        <div style="width:100%" *ngFor="let cat of analysisService.graphConfig.cat; let i = index">
          {{categoriesService.catTable['\''+cat+'\''].title}}
        </div>
      </div>
      <div *ngIf="analysisService.graphConfig.target === 'subcat'">
        <div style="width:100%" *ngFor="let subcat of analysisService.graphConfig.subcat; let i = index">
          {{categoriesService.subcatTable['\''+subcat+'\''].title}}
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="editingMode && !analysisService.waitingForSQL">
    <form [formGroup]="header">
      <div style="width:100%;display: flex;flex-wrap:wrap">
        <div style="width:calc(100% / 12 * 8)">
          <mat-form-field appearance="fill">
            <mat-label>Título do gráfico</mat-label>
            <input matInput type="text" formControlName="title">
          </mat-form-field>
        </div>
        <div style="width:calc(100% / 12 * 2)">
          <mat-form-field appearance="fill">
            <mat-label>Ano inicial</mat-label>
            <input matInput type="number" formControlName="year">
          </mat-form-field>
        </div>
        <div style="width:calc(100% / 12 * 2)">
          <mat-form-field appearance="fill">
            <mat-label>Duração</mat-label>
            <input matInput type="number" formControlName="duration">
          </mat-form-field>
        </div>
        <div style="width:calc(100% / 12 * 6)">

          <mat-checkbox formControlName="acomul">Acomulado</mat-checkbox>




        </div>
        <div style="width:calc(100% / 12 * 6)">
          <mat-form-field appearance="fill">
            <mat-label>Target</mat-label>
            <mat-select formControlName="target" (selectionChange)="targetSwap($event)">
              <mat-option value="cat">Categorias</mat-option>
              <mat-option value="subcat">Sub-Categorias</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>


    <div *ngIf="header.controls['target'].value === 'cat'">


      <div *ngFor="let cat of controls; let i = index" style="width: 100%">

        <form class="mhq-cats-form" style="width: 100%;">
          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select [formControl]="cat[0]">
              <mat-select-trigger>{{cat[0].value !== -1 ?
                categoriesService.catTable['\''+cat[0].value+'\''].title : ''}}
              </mat-select-trigger>
              <mat-option class="mhq-cat-select" *ngFor="let option of analysisService.catArray" [value]="option.id">
                <mat-icon
                  [ngStyle]="{'background-color':categoriesService.catTable['\''+option.id+'\''].bgcolor,'color':categoriesService.catTable['\''+option.id+'\''].textcolor}">
                  {{categoriesService.catTable['\''+option.id+'\''].icon}}</mat-icon>
                {{option.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox [formControl]="cat[1]"></mat-checkbox>

        </form>

      </div>





    </div>

    <div *ngIf="header.controls['target'].value === 'subcat'">

      <div *ngFor="let subcat of controls; let i = index" style="display:flex; justify-content: center;align-items: center;">

        <form class="mhq-subcats-form" style="width: 80%;">
          <mat-form-field>
            <mat-label>Sub categoria</mat-label>
            <mat-select [formControl]="subcat[0]">
              <!-- <mat-option class="mhq-subcat-select" *ngFor="let option of analysisService.subcatArray"
                [value]="option.id">{{option.title}}
              </mat-option> -->
              <mat-select-trigger>{{subcat[0].value !== -1 ?
                categoriesService.subcatTable['\''+subcat[0].value+'\''].title : ''}}
              </mat-select-trigger>
              <mat-option class="mhq-cat-select" *ngFor="let option of analysisService.subcatArray" [value]="option.id">
                <mat-icon
                  [ngStyle]="{'background-color':categoriesService.catTable['\''+option.maincatid+'\''].bgcolor,'color':categoriesService.catTable['\''+option.maincatid+'\''].textcolor}">
                  {{categoriesService.catTable['\''+option.maincatid+'\''].icon}}</mat-icon>
                {{option.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <mat-checkbox [formControl]="subcat[1]"></mat-checkbox>
        <button mat-icon-button (click)="removeParameterFromGraph(i)">
          <mat-icon>delete</mat-icon>
        </button>



      </div>


    </div>

    <b (click)="addParameterToGraph()">adddd moooore</b>






  </div>





</div>

<div mat-dialog-actions class="mhq-modal-close-actions"></div>