<div class="mhq-mainform-container" style="display: flex">


  <div style="width: 50%;overflow-y: auto;word-wrap: break-word;">
    <h1>
      todo
    </h1>
    ordem operações:<br>
    1. mega code review (alterar nome do financial service para categories, alterar nome variáveis, adicionar tipo de retorno, comentário, fix no casts dos dados [onde uso Number() e == ])<br>
    1.1 inclui fix nos campos data (ver como fazer direito na modal dos detalhes do overview, toDateLocale pt<br>
    1.2 inclui fix nos campos de colorpicker (o valor inicial não está a buscar a cor definida) -> alterar maneira como usar variável na bd (passar a guardar tudo rgb(x,x,x), para ser mais facil manipular)<br>
    1.2.1 inclui mensagens erro autocomplete, e novo autocomplete sequêncial (1º Categoria, Depois Sub Categoria)<br>
    1.3 incluí enum e fix nos autocompletes dos movimentos tesouraria<br>
    1.4 inclui server review
    2. css review
      2.1 inclui pipes para valores negativos (simbolo euro no lado direito, separador dos milhares em . em vez de ,)
    3. terminar desenho overview totais + modal<br>
    4. adicionar ação para novo movimento de tesouraria no ecrã do overview (gaveta igual ao ecra de movimentos de tesouraria)<br>
    5. desenvolver picker mÊs/ano para a vista diária<br>
    6. fix acesso direto via link a um registo (ainda n carregou)<br>
    6.1 desenvolver navegação da modal de detalhes do overview para o ecrã de movimentos<br>
    7. fix tabelas passam a ter limite de 5 registos no onInit<br>
    8. desenvolver ordenação de categorias<br>
    9. desenvolver ordenação de subcategorias<br>
    10. fix readonly campo ID modos introdução/duplicação<br>
    11. orçamento sub-categoria, o que fazer disto<br>
    <!-- <br>varios<ul>
      <li>ngx scrollbars</li>
      <li>fix refresh tabela inicial overview (depois de carregada uma vez as categorias, elas não precisam de fazer refresh, só os valores. pensar numa maneira para aproveitar o desenho para ser mais fluida a passagem de meses)</li>
      <li>terminar timer do fecho da gaveta ao alterar de caminho</li>
      <li>ngx scrollbars</li></ul>
    overview<br>
    <ol>
      <li>desenvolver modal para detalhes diários da categoria/subcategoria/total</li>
      <li>Ação para adicionar movimentos</li>
      <li>adicionar snapshots com o saldo acomuado no inicio do mes e no final</li>
      <li>afinar vista diária</li>
      <li>desenvolver vista mensal</li>
      <li>desenvolver vista anual</li>
    </ol>
    treasury v2<br>
    <ol>
      <li>fatura c/nif (para efatura check)</li>
      <li>recorrências</li>
      <li>limites orçamento por categoriaredo</li>
    </ol>
    categories v2<br>
    <ol>
      <li>re-order categorias</li>
    </ol><br>-->
  </div>



  <div style="width: 50%;overflow-y: auto;word-wrap: break-word;">

    <h1>thinkerbox</h1>
    <h3>overview</h3>
    -- mostrar categorias sem gastos/income, mostrar depsesas do tipo budget<br>
    <h3>orçamentos</h3>
    -- mainform igual aos movimentos de tesouraria, mas apenas para registos de orçamentos<br>
    -- ações do registo: tornar despesa de budget em despesa legit<br>
    <h3>efatura check</h3>
    -- para os registos que sejam nif incluido, é adicionada á tabela e-fatura check a respetiva despesa<br>
    -- ações do registo: marcar como validado<br>
    <h3>Análise salarial</h3>
    -- graficos snapshot (procurar biblioteca 🚀) a mostrar as varias cenas com alterações de salários <br>
    -- tabela de referencia com taxas iva, e projecção para salários e tals.<br>

    <h3>Análise orçamental</h3>
    -- relatório de despesas identificadas como off-budget<br>
    -- sumatório de off-budgets mais diferença do orçamento para o real. no final, valor a ser enviado para poupança<br>
    -- gráfico snapshot a mostrar a evolução dos off-budget (0) vs realizado (poder ser positivo, ou negativo)<br><br>

    (NOTA 1 - são necessários 2 arrays com os diferentes tipos de gastos: recorrentes e n recorrentes. no caso de ser n
    recorrentes, certificar que todas as entradas sao eliminadas - quando fizer o foreach para os recorrentes, ter isto
    em
    conta)
    <br>
    <h3>poupanças</h3>
    -- graficos snapshot a mostrar as varias poupanças e sua evolução (e projeção) <br>

    <h1>fase 2 - agenda</h1>
    - remover submenu agenda (ficar apenas menu principal)<br>
    -- trabalhar recorrencias<br>
    ---> mensal(mensalidades), anual (aniversarios)<br>
    -- trabalhar categorias<br>
    --sub-menu: aniversários & feriados<br>
    -- eventos de dia inteiro (tipo aleart idk)<br>
    -- eventos recorrentes via à senaba (para identficar semanas de trabalho mais easy)<br>

    <h1>fase 2 - packagers</h1>
    -electron<br>
    -nexe<br>

    <h1>fases 3/4/5</h1>
    - f3 interação calendars google api<br>
    - f4 warehouse<br>
    - f5 gym tracking<br>
    - f6 cooking

  </div>
</div>