<div class="mhq-mainform-container" style="display: flex">

  <div style="width: 50%;overflow-y: auto;word-wrap: break-word;">
    DeleteCategoryConfirmationModalComponent -> passar função para backend<br>
    <ol>

      <li>
        <ul>Grid view
          <li>js review (backend + frontend)</li>
        </ul>
      </li><br>

      <li>
        <ul>Efatura v2
          <li>atualizar em massa</li>
        </ul>
      </li><br>
      <li>
        <ul>Ecrã Análises v2
          <li>mostrar/esconder análises á medida (poder selecionar se é cat ou subcat, e quais as cats/cubcats que entram no grafico)</li>
          <li>cada cartãaozinho tem o seu tipo de análise</li>
          <li>js review (backend + frontend)</li>
        </ul>
      </li><br>
      <li>
        <ul>Outros
          <li>fix input manual da data ecrã movimentos tesouraria (quando é escrito á mão, só aceita a syntax americana)
          </li>
          <li>grid view - decada view</li>
        </ul>
      </li><br>
      <li>
        <ul>Budgeting
          <li>redo total</li>
          <li>Novas features (tonar em despesa legit)</li>
          <li>Filtro na grid view para incluir orçamentos</li>
        </ul>
      </li><br>
      <li>CSS/HTML revisão total
      </li><br>
    </ol>

    <!--

    >-->
  </div>



  <div style="width: 50%;overflow-y: auto;word-wrap: break-word;">

    <h1>thinkerbox</h1>


    <h1>fase 2 - agenda</h1>
    - remover submenu agenda (ficar apenas menu principal)<br>
    -- trabalhar recorrencias<br>
    ---> mensal(mensalidades), anual (aniversarios)<br>
    -- trabalhar categorias<br>
    --sub-menu: aniversários & feriados<br>
    -- eventos de dia inteiro (tipo aleart idk)<br>
    -- eventos recorrentes via à senaba (para identficar semanas de trabalho mais easy)<br>

    <h1>fase 2 - packagers</h1>
    -electron<br>
    -nexe<br>

    <h1>fases 3/4/5</h1>
    - f3 interação calendars google api<br>
    - f4 warehouse<br>
    - f5 gym tracking<br>
    - f6 cooking

  </div>
</div>