<h1 mat-dialog-title class="mhq-modal-header">
  <mat-icon>receipt_long</mat-icon>Validar movimento
</h1>

<div mat-dialog-content class="mhq-modal-content-wrapper">

  <div class="mhq-row">
    <div class="mhq-col-6" style="padding-left:5px;display: flex;align-items: center;">
      {{treasuryService.activeTLog.title}}<br>
    </div>


    <div class="mhq-col-6" style="display: flex;    justify-content: flex-end">
      <mat-chip-list>
        <mat-chip style="background-color:#000;color:#fff">
          <mat-icon style="padding-left:5px;padding-right:10px;color:#fff;box-sizing: content-box;">
            {{efaturaService.efaturaTable[treasuryService.activeTLog.efat].icon}}</mat-icon>
          <span style="padding-right:5px;">{{efaturaService.efaturaTable[treasuryService.activeTLog.efat].title}}</span>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>



  <div class="mhq-row" style="padding-top:30px">

    <div class="mhq-col-4" style="padding-left:5px;display:flex;align-content: center;justify-content: flex-start;">
      <div class="mhq-deduction-preview" style="display: flex;      flex-direction: column;">

        <span>Valor fatura</span>
        <span style="font-size:24px;color:var(--mhq-waikiki-acolor-1);font-weight:600">
          {{treasuryService.activeTLog.value | number:'1.2-2':'pt'}}
          €</span>

      </div>
    </div>

    <div class="mhq-col-4">
      <mat-form-field appearance="fill"
        *ngIf="efaturaService.efaturaTable[treasuryService.activeTLog.efat].usesIVAToCalc">
        <mat-label>Valor IVA</mat-label>
        <input matInput [(ngModel)]="ivaValue">
      </mat-form-field>
    </div>


    <div class="mhq-col-4" style="display:flex;align-content: center;justify-content: flex-end;padding-right: 5px;">
      <div class="mhq-deduction-preview" style="display: flex;      flex-direction: column;      text-align: right;"
        *ngIf="efaturaService.efaturaTable[treasuryService.activeTLog.efat].usesIVAToCalc">

        <span>Dedução suportada</span>
        <span style="font-size:24px;color:var(--mhq-waikiki-acolor-1);font-weight:600">
          {{treasuryService.activeTLog.type === 'income'?
          - ivaValue * efaturaService.efaturaTable[treasuryService.activeTLog.efat].calcPercentage :
          ivaValue * efaturaService.efaturaTable[treasuryService.activeTLog.efat].calcPercentage | number:'1.2-2':'pt'}}
          €</span>

      </div>

      <div class="mhq-deduction-preview" style="display: flex;      flex-direction: column;      text-align: right;"
        *ngIf="!efaturaService.efaturaTable[treasuryService.activeTLog.efat].usesIVAToCalc">
        <span>Dedução suportada</span>
        <span style="font-size:24px;color:var(--mhq-waikiki-acolor-1);font-weight:600">
        {{treasuryService.activeTLog.type === 'income'?
        - treasuryService.activeTLog.value * efaturaService.efaturaTable[treasuryService.activeTLog.efat].calcPercentage
        :
        treasuryService.activeTLog.value * efaturaService.efaturaTable[treasuryService.activeTLog.efat].calcPercentage | number:'1.2-2':'pt'}} €
      </span>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions class="mhq-modal-close-actions">
  <button mat-flat-button color="primary" (click)="insertEFatura()">Validar</button>
  <button mat-stroked-button mat-dialog-close color="warn">Cancelar</button>
</div>