::ng-deep mhq-monthly-view {
  width: 100%;
}

.mhq-monthly-grid-nav {
  padding: 30px 0;
  justify-content: center;
  align-items: center;

  button {
    margin: 0 5px;
  }

  #mhq-grid-subtitle {
    color: var(--mhq-waikiki-pcolor-1);
    font-size: 20px;
    font-weight: 500;
    margin: 0 10px;
  }
}

.mhq-grid-active-category {
  margin-bottom: 10px;

  .mhq-grid-active-subcategory {
    &:last-of-type {
      .mhq-grid-subcategory-title {
        border-bottom-left-radius: 15px;
      }
    }
    .mhq-grid-subcategory-title {
      opacity: 0.7;
      height: 30px;
      display: flex;
      align-items: center;
      padding-left: 20px;

    }
  }

  .mhq-category-summary {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    opacity: 0.65;
    cursor:pointer;
  }

  .mhq-grid-category-title {
    height: 40px;
    border-top-left-radius: 15px;
    display: flex;
    align-items: center;

    mat-icon {
      margin: 0 10px 0 15px;
    }
  }
}

.mhq-active-subcat-cell {
  height: 30px;
  opacity: 0.9;
}

.mhq-category-summary,
.mhq-active-subcat-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  background-clip: content-box;
  padding: 1px;
}


.mhq-not-null-cell{
  cursor:pointer
}
.mhq-null-cell{
  opacity:0.25;
  span {
    opacity: 0;
  }
}