<mat-progress-bar *ngIf="!this.loadingService.categoriesLoadingComplete" mode="indeterminate" color="accent">
</mat-progress-bar>

<div *ngIf="this.loadingService.categoriesLoadingComplete" class="mhq-mainform-container">

  <div class="mhq-row mhq-mainform-header">

    <h1>
      <mat-icon>account_balance</mat-icon>Análises financeiras
    </h1>

    <div class="mhq-mainform-actions">
      <button mat-flat-button color="accent" disabled>
        <mat-icon>add</mat-icon>Ações
      </button>
    </div>

  </div>


  <div id="mhq-graphs-first-row">

    <mat-grid-list cols="3" rowHeight="50%">

      <mat-grid-tile colspan=2 rowspan=2>
        <mat-card style="height: 90%;width: 95%;">
          <div class="mhq-graph-title">
            <div>{{graphsTitles[0]}}</div>
            <div class="mhq-graph-config" (click)="openGraphConfig('300ms','150ms', 1)">
              <mat-icon>settings</mat-icon>
            </div>
          </div>
          <div class="mhq-graph-display" style="height:calc(100% - 45px);">
            <ngx-charts-line-chart [scheme]="waikiki" [legend]=false [showXAxisLabel]=false [showYAxisLabel]=false
              [xAxis]=true [yAxis]=true [results]="graphs[0]" [tooltipDisabled]=false (select)="onSelect($event)"
              (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-line-chart>
          </div>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan=1 rowspan=1>
        <mat-card>
          <div class="mhq-graph-title">
            <div>{{graphsTitles[1]}}</div>
            <div class="mhq-graph-config" (click)="openGraphConfig('300ms','150ms', 2)">
              <mat-icon>settings</mat-icon>
            </div>
          </div>
          <div class="mhq-graph-display">
            <ngx-charts-line-chart [scheme]="waikiki" [legend]=false [showXAxisLabel]=false [showYAxisLabel]=false
              [xAxis]=true [yAxis]=true [results]="graphs[1]" (select)="onSelect($event)"
              (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-line-chart>
          </div>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan=1 rowspan=1>
        <mat-card>
          <div class="mhq-graph-title">
            <div>{{graphsTitles[2]}}</div>
            <div class="mhq-graph-config" (click)="openGraphConfig('300ms','150ms', 3)">
              <mat-icon>settings</mat-icon>
            </div>
          </div>
          <div class="mhq-graph-display">
            <ngx-charts-area-chart-stacked [scheme]="waikiki" [legend]=false [showXAxisLabel]=false
              [showYAxisLabel]=false [xAxis]=true [yAxis]=true [results]="graphs[2]" (select)="onSelect($event)"
              (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-area-chart-stacked>
          </div>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div id="mhq-graphs-second-row" *ngIf="false">


    <mat-grid-list cols="4" rowHeight="100%">
      <mat-grid-tile colspan=1>
        <mat-card style="height: 70%;width: 87%;">
          card1
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan=1>
        <mat-card style="height: 70%;width: 87%;">
          card2
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan=1>
        <mat-card style="height: 70%;width: 87%;">
          card3
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan=1>
        <mat-card style="height: 70%;width: 87%;">
          card4
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>



  </div>

</div>