mat-card {
  height: 80%;
  width: 90%;
  border-radius: 15px;
  font-family: HK Grotesk, Helvetica Neue, sans-serif;
}

#mhq-graphs-first-row {
  height: calc(100% * 7 / 12 - (40px * 7 / 12));
  padding-top: 15px;

  .mhq-graph-title {
    position: relative;
    font-weight: 600;
    text-align: center;
    color: var(--mhq-waikiki-pcolor-1);
    height: 45px;
    font-size: 20px;

    div {
      width: 100%;
      position: absolute
    }

    .mhq-graph-config {
      cursor: pointer;
      width: 100%;
      position: absolute;
      text-align: right;
    }
  }

  .mhq-graph-display {
    height: calc(100% - 45px);
    width: 100%
  }
}

#mhq-graphs-second-row {
  height: calc(100% * 5 / 12 - (40px * 5 / 12));
}