<mat-progress-bar *ngIf="!evoReady" mode="indeterminate"></mat-progress-bar>
<!-- substituir progresss bar, por estrutura fixa, com base nas categorias que fizemos loading-->



<div *ngIf="evoReady" class="mhq-mainform-container">

  <div class="mhq-row mhq-mainform-header">
    <h1>
      <mat-icon>account_balance</mat-icon>Vista diária - {{selectedMonthLocale}} {{selectedYear}}
    </h1>

  </div>
  <h1 (click)="previousMonth()">previous</h1>
  <h1 (click)="nextMonth()">next</h1>

  <div class="mhq-row">
    <!-- secção categorias -->
    <div class="mhq-col-2" style="padding-right:10px;">

      <div class="mhq-overview-incomecats-wrapper">
        <div *ngFor="let cat of financialService.incomeCategories" class="mhq-overview-cat-loop">
          <div class="mhq-overview-cat" *ngIf="cat.active"
            [ngStyle]="{'background-color':'rgb('+cat.bgcolor+')','color':'rgb('+cat.textcolor+')'}">
            <mat-icon>{{cat.icon}}</mat-icon>{{cat.title}}
          </div>
          <!-- subcategorias -->
          <div *ngFor="let subcat of cat.subcats">
            <div class="mhq-overview-sub-cat" *ngIf="subcat.active && cat.active"
              [ngStyle]="{'background-color':'rgba('+cat.bgcolor+',0.8)','color':'rgb('+cat.textcolor+')'}">
              {{subcat.title}}
            </div>
          </div>
        </div>
      </div>


      <!-- categorias expense -->
      <div class="mhq-overview-expensecats-wrapper">
        <div *ngFor="let cat of financialService.expenseCategories" class="mhq-overview-cat-loop">
          <div class="mhq-overview-cat" *ngIf="cat.active"
            [ngStyle]="{'background-color':'rgb('+cat.bgcolor+')','color':'rgb('+cat.textcolor+')'}">
            <mat-icon>{{cat.icon}}</mat-icon>{{cat.title}}
          </div>
          <!-- subcategorias -->
          <div *ngFor="let subcat of cat.subcats">
            <div class="mhq-overview-sub-cat" *ngIf="subcat.active && cat.active"
              [ngStyle]="{'background-color':'rgba('+cat.bgcolor+',0.8)','color':'rgb('+cat.textcolor+')'}">
              {{subcat.title}}
            </div>
          </div>
        </div>
      </div>

      <div style="height:40px;background-color:aquamarine;margin-top:20px;">Total</div>
      <div style="height:40px;background-color:darkkhaki;margin-top:20px;">Total Acomulado</div>


    </div>


    <div class="mhq-col-10">



      <!-- dias -->
      <div style="display: flex;">
        <div *ngFor="let null of tempArray let i = index" class="mhq-overview-calendar-days">{{i+1}}</div>
      </div>


      <!-- income -->
      <div class="mhq-overview-incomecells-wrapper">
        <div *ngFor="let cat of financialService.incomeCategories" class="mhq-overview-cat-loop">
          <div *ngIf="cat.active">




            <div style="display:flex">
              <div *ngFor="let null of tempArray let i = index" class="mhq-overview-cat-cell"
                [ngStyle]="{'background-color':'rgba('+cat.bgcolor+',.65)','color':'rgb('+cat.textcolor+')'}"
                (click)="showDailyCatDetails(cat.id,i+1)">
                {{getCatValue(i+1,cat.id)}}</div>
            </div>

            <div *ngFor="let subcat of cat.subcats">
              <div *ngIf="subcat.active" style="display: flex;">
                <div *ngFor="let null of tempArray let i = index" class="mhq-overview-subcat-cell"
                [ngStyle]="getSubcatValue(i+1,subcat.id) === 0 ?
                {'background-color':'rgba('+cat.bgcolor+',.2)','color':'transparent'}
                  :{'background-color':'rgba('+cat.bgcolor+',.65)','color':'rgb('+cat.textcolor+')'}"
                  (click)="showDailySubCatDetails(subcat.id,i+1)">
                  {{getSubcatValue(i+1,subcat.id)}}</div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <!-- expense -->
      <div class="mhq-overview-expensecells-wrapper">
        <div *ngFor="let cat of financialService.expenseCategories" class="mhq-overview-cat-loop">
          <div *ngIf="cat.active" class="mhq-overview-cells-warpper">


            <div style="display:flex">
              <div *ngFor="let null of tempArray let i = index" class="mhq-overview-cat-cell"
                [ngStyle]="{'background-color':'rgba('+cat.bgcolor+',.63)','color':'rgb('+cat.textcolor+')'}"
                (click)="showDailyCatDetails(cat.id,i+1)">
                {{getCatValue(i+1,cat.id)}}</div>
            </div>

            <div *ngFor="let subcat of cat.subcats">
              <div *ngIf="subcat.active" style="display: flex;">
                <div *ngFor="let null of tempArray let i = index" class="mhq-overview-subcat-cell"
                [ngStyle]="getSubcatValue(i+1,subcat.id) === 0 ?
                {'background-color':'rgba('+cat.bgcolor+',.2)','color':'transparent'}
                  :{'background-color':'rgba('+cat.bgcolor+',.65)','color':'rgb('+cat.textcolor+')'}"
                  (click)="showDailySubCatDetails(subcat.id,i+1)">
                  {{getSubcatValue(i+1,subcat.id)}}</div>
              </div>
            </div>



          </div>
        </div>
      </div>

      <div style="height: 40px;margin-top:20px;display: flex;">
        <div *ngFor="let null of tempArray let i = index" class="mhq-overview-cat-cell"
          [ngStyle]="{'background-color':'rgba(0,0,0,.3)','color':'rgb(255,255,255)'}"
          (click)="showDailySumDetails(i+1)">
          {{getDailySum(i+1)}}</div>
      </div>

      <div style="height: 40px;margin-top:20px;display: flex;">
        <div *ngFor="let null of tempArray let i = index" class="mhq-overview-cat-cell"
          [ngStyle]="{'background-color':'rgba(0,0,0,.3)','color':'rgb(255,255,255)'}">
          {{getSuperSum(i+1)}}</div>
      </div>



    </div>

  </div>

  <div>alaka</div>


</div>

