
  <h1 class="mhq-modal-title">
    <mat-icon>satellite_alt</mat-icon>ye
  </h1>

  <div class="mhq-modal-content">

    <div style="display: flex;flex-direction: column;">


      <section class="example-section">
        <mat-checkbox class="example-margin">Recurrent</mat-checkbox>
      </section>

    <mat-radio-group>
      <mat-radio-button value="expense">Expense</mat-radio-button>
      <mat-radio-button value="income">Income</mat-radio-button>
    </mat-radio-group>

     category select


    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Color</mat-label>
      <input matInput>
    </mat-form-field>



  </div>






  </div>

  <div class="mhq-close-actions-wrapper ngi-row">
    a
  </div>


