html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: clip;
}

body {
  font-family: HK Grotesk, Helvetica Neue, sans-serif;
  background: var(--mhq-light-bg);
  color: var(--mhq-dark-text);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  z-index: -1;
  position: relative;
}

mat-form-field {
  width: 95%;
}


@font-face {
  font-family: "HK Grotesk";
  src: url("assets/fonts/HKGrotesk-SemiBold.woff2") format("woff2"),
    url("assets/fonts/HKGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("assets/fonts/HKGrotesk-Medium.woff2") format("woff2"),
    url("assets/fonts/HKGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("assets/fonts/HKGrotesk-Italic.woff2") format("woff2"),
    url("assets/fonts/HKGrotesk-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("assets/fonts/HKGrotesk-SemiBoldItalic.woff2") format("woff2"),
    url("assets/fonts/HKGrotesk-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("assets/fonts/HKGrotesk-MediumItalic.woff2") format("woff2"),
    url("assets/fonts/HKGrotesk-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("assets/fonts/HKGrotesk-Regular.woff2") format("woff2"),
    url("assets/fonts/HKGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.animate__animated.animate__slideInRight,
.animate__animated.animate__slideOutRight {
  --animate-duration: 0.75s;
}

/* ########## Start - mhq grids ##########*/
.mhq-row {
  width: 100%;
  display: flex;
}

.mhq-row.full-height {
  height: 100%;
  flex-direction: column;
}

.mhq-col-1 {
  width: calc(1 / 12 * 100%);
}

.mhq-col-2 {
  width: calc(2 / 12 * 100%);
}

.mhq-col-3 {
  width: calc(3 / 12 * 100%);
}

.mhq-col-4 {
  width: calc(4 / 12 * 100%);
}

.mhq-col-5 {
  width: calc(5 / 12 * 100%);
}

.mhq-col-6 {
  width: calc(6 / 12 * 100%);
}

.mhq-col-7 {
  width: calc(7 / 12 * 100%);
}

.mhq-col-8 {
  width: calc(8 / 12 * 100%);
}

.mhq-col-9 {
  width: calc(9 / 12 * 100%);
}

.mhq-col-10 {
  width: calc(10 / 12 * 100%);
}

.mhq-col-11 {
  width: calc(11 / 12 * 100%);
}

/* ########## End   - mhq grids ##########*/
