<h1 mat-dialog-title class="mhq-modal-header">
  <mat-icon>low_priority</mat-icon>Re-ordenar {{tabIndex === 0? 'categorias': 'sub-categorias'}}
</h1>

<div mat-dialog-content class="mhq-modal-content-wrapper">
  <mat-tab-group style="height: 100%" (selectedTabChange)="changedTab($event)">

    <mat-tab label="Categorias">
      <ng-scrollbar>
          <div style="height: calc(100% - 75px);padding:30px 25px" class="mhq-row">

            <div class="mhq-col-1">
              <div *ngFor="let x of categoriesToOrder; let i = index;"
                style="color:var(--mhq-waikiki-acolor-1);font-weight:500;display:flex;justify-content:flex-start;align-items:center;height: 40px;font-size:18px">
                {{i+1}}</div>
            </div>

            <div class="mhq-col-11">
              <div cdkDropList class="mhq-background-box" (cdkDropListDropped)="catDrop($event)">
                <div class="mhq-category-box" [style]="'border-bottom: solid 1px '+cat.bgcolor"
                  *ngFor="let cat of categoriesToOrder" cdkDrag>
                  <div class="mhq-category-box-preview" *cdkDragPlaceholder></div>
                  <mat-icon [style]="'background-color:'+cat.bgcolor+';color:'+cat.textcolor">{{cat.icon}}</mat-icon>
                  <span>{{cat.title}}</span>
                </div>
              </div>
            </div>

          </div>
      
      </ng-scrollbar>
    </mat-tab>

    <mat-tab label="Sub-categorias">
        <div style="height: 100%;padding:30px 25px 0px">

          <form class="mhq-cats-form" style="width: 100%;height: 55px;">
            <mat-form-field>
              <mat-label>Categoria</mat-label>
              <mat-select [formControl]="catForm" (selectionChange)="categorySelectChanged($event)">
                <mat-select-trigger>{{catForm.value}}</mat-select-trigger>
                <mat-option *ngFor="let option of categoriesList" [value]="option">
                  <mat-icon
                    [ngStyle]="{'background-color':categoriesService.catEnum[categoriesService.catTitleEnum[option].id].bgcolor,'color':categoriesService.catEnum[categoriesService.catTitleEnum[option].id].textcolor}">
                    {{categoriesService.catTitleEnum[option].icon}}</mat-icon>
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>

          <ng-scrollbar style="height :calc(100% - 55px)">
            <div class="mhq-row" *ngIf="subCategoriesToOrder.length>1">
              <div class="mhq-col-1">
                <div *ngFor="let x of subCategoriesToOrder; let i = index;"
                  style="color:var(--mhq-waikiki-acolor-1);font-weight:500;display:flex;justify-content:flex-start;align-items:center;height: 40px;font-size:18px">
                  {{i+1}}</div>
              </div>

              <div class="mhq-col-11">
                <div cdkDropList class="mhq-background-box" (cdkDropListDropped)="subcatDrop($event)">
                  <div class="mhq-category-box" *ngFor="let subcat of subCategoriesToOrder" cdkDrag
                    [style]="'border-bottom:solid 1px '+categoriesService.catEnum[subcat.maincatid].bgcolor">
                    <div class="mhq-category-box-preview" *cdkDragPlaceholder></div>
                    <p style="padding-left:20px">{{subcat.title}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-scrollbar>

        </div>

    </mat-tab>

  </mat-tab-group>
</div>

<div mat-dialog-actions class="mhq-modal-close-actions">
  <button *ngIf="tabIndex === 0" mat-stroked-button color="primary" (click)="saveCategoriesOrder()">Re-ordenar
    categorias</button>
  <button *ngIf="tabIndex === 1" [disabled]="catForm.invalid || subCategoriesToOrder.length <= 1" mat-stroked-button
    color="primary" (click)="saveSubCategoriesOrder()">Re-ordenar
    sub-categorias</button>
  <button mat-stroked-button mat-dialog-close color="warn">Cancelar</button>
</div>