#mhq-category-details {
  position: absolute;
  top: var(--navbar-height);
  right: 0;
  height: calc(100vh - var(--navbar-height));
  width: 70vw;
  padding:0;
}
::ng-deep mhq-category-details,
::ng-deep mhq-treasury-details {
  width: 70vw;
}

::ng-deep mhq-new-category,
::ng-deep mhq-new-treasury-log {
  width: 100%;
}

