@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-light-blue, A400);
$accent: mat-palette($mat-orange, 200);

$theme: mat-light-theme($primary, $accent);

// .color-primary {
//   color: mat-color($primary);
// }

// .color-accent {
//   color: mat-color($accent);
// }

@include angular-material-theme($theme);
