<h1 mat-dialog-title class="mhq-modal-header">
  <mat-icon>search</mat-icon>Configurar gráfico
</h1>

<div mat-dialog-content class="mhq-modal-content-wrapper mhq-row" style="padding: 2vh 4.5vw 0.5vh;">

  <div style="height:5px">
    <mat-progress-bar *ngIf="analysisService.waitingForSQL" mode="indeterminate" color="accent">
    </mat-progress-bar>
  </div>

  <div style="height:calc(25% - 5px);display: flex;
  justify-content: flex-end;align-items:center;">


    <div>
      <button (click)="saveGraphSettings()" *ngIf="editingMode" mat-mini-fab color="primary"
        style="background-color:var(--mhq-waikiki-sucess);color:#000;margin:0 15px">
        <mat-icon>save</mat-icon>
      </button>
      <button (click)="exitingEditingMode()" *ngIf="editingMode" mat-mini-fab color="warn">
        <mat-icon>not_interested</mat-icon>
      </button>
      <button (click)="enteringEditingMode()" *ngIf="!editingMode" mat-mini-fab color="primary">
        <mat-icon>edit</mat-icon>
      </button>

    </div>
  </div>

  <div *ngIf="!editingMode && !analysisService.waitingForSQL">
    <div style="width:100%;display: flex;">
      <div style="width:calc(100% / 12 * 8)">{{headtohead.title}}</div>
      <div style="width:calc(100% / 12 * 2)">{{headtohead.year}}</div>
      <div style="width:calc(100% / 12 * 2)">{{headtohead.duration}}</div>
    </div>

    <br>

    <div *ngFor="let subcat of headtohead.cats; let i = index">
      {{categoriesService.catTable['\''+subcat+'\''].title}}
    </div>

  </div>

  <div *ngIf="editingMode && !analysisService.waitingForSQL">

    <div style="width:100%;display: flex;flex-wrap: wrap;">
      <div style="width:calc(100% / 12 * 8)">
        <mat-form-field appearance="fill">
          <mat-label>Título do gráfico</mat-label>
          <input matInput type="text" [(ngModel)]="headtohead.title">
        </mat-form-field>
      </div>
      <div style="width:calc(100% / 12 * 2)">
        <mat-form-field appearance="fill">
          <mat-label>Ano inicial</mat-label>
          <input matInput type="number" [(ngModel)]="headtohead.year">
        </mat-form-field>
      </div>
      <div style="width:calc(100% / 12 * 2)">
        <mat-form-field appearance="fill">
          <mat-label>Duração</mat-label>
          <input matInput type="number" [(ngModel)]="headtohead.duration">
        </mat-form-field>
      </div>



      <div *ngFor="let cat of headtohead.cats; let i = index" style="width: 100%">

        <form class="mhq-cats-form" style="width: 100%;">
          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select [formControl]="catControls[i]">          <mat-select-trigger>{{catControls[i].value !== -1 ? categoriesService.catTable['\''+catControls[i].value+'\''].title : ''}}
            </mat-select-trigger>
              <mat-option *ngFor="let option of analysisService.catArray" [value]="option.id">
                <mat-icon
                  [ngStyle]="{'background-color':categoriesService.catTable['\''+option.id+'\''].bgcolor,'color':categoriesService.catTable['\''+option.id+'\''].textcolor}">
                  {{categoriesService.catTable['\''+option.id+'\''].icon}}</mat-icon>
                {{option.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

      </div>


    </div>

    <br>




  </div>

</div>

<div mat-dialog-actions class="mhq-modal-close-actions"></div>