<div class="mhq-row full-height mhq-mainform-details-wrapper">

  <div class="mhq-mainform-drawer-actions">

    <div class="mhq-quickaction-close" (click)="treasuryService.closeDetails()">
      <mat-icon>close</mat-icon>
    </div>

    <div class="mhq-quickaction-save" (click)="newTreasuryLogRecordActions('save')"><button mat-icon-button>
        <mat-icon>save</mat-icon>
      </button></div>

    <div class="mhq-quickaction-delete" (click)="newTreasuryLogRecordActions('end')"><button mat-icon-button>
        <mat-icon>not_interested</mat-icon>
      </button></div>

    <div [ngStyle]="treasuryService.recordBorderStyle"></div>

  </div>

  <div class="mhq-mainform-drawer-content">
    <mat-progress-bar *ngIf="!saveComplete" mode="indeterminate" color="accent"></mat-progress-bar>
    <div class="mhq-wrapper-row">

      <h1>
        <div>
          <mat-icon>info_outline</mat-icon>Detalhes
        </div>
      </h1>

      <div class="mhq-row">

        <div class="mhq-input-wrapper mhq-col-1">
          <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput disabled [(ngModel)]="tempTreasuryLog.id">
          </mat-form-field>
        </div>

        <div class="mhq-input-wrapper mhq-col-8">
          <mat-form-field appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput [(ngModel)]="tempTreasuryLog.title">
          </mat-form-field>
        </div>

        <div class="mhq-input-wrapper mhq-col-3">
          <mat-form-field appearance="fill">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="treasuryLogDatepicker" [formControl]="treasuryLogDatepickerForm">
            <mat-datepicker-toggle matSuffix [for]="treasuryLogDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #treasuryLogDatepicker></mat-datepicker>
          </mat-form-field>
        </div>

      </div>
      <div class="mhq-row">

        <div class="mhq-input-wrapper mhq-col-4 mhq-radio-group">
          <p>Tipo:</p>
          <mat-radio-group color="primary" [(ngModel)]="tempTreasuryLog.type">
            <mat-radio-button value="expense">Despesa</mat-radio-button>
            <mat-radio-button value="income">Rendimento</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="mhq-input-wrapper mhq-col-4">

          <form class="mhq-cats-form" style="width: 100%;">
            <mat-form-field>
              <mat-label>Categoria</mat-label>
              <mat-select [formControl]="catForm" (selectionChange)="categorySelectChanged($event)">
                <mat-select-trigger>{{catForm.value}}</mat-select-trigger>
                <mat-option *ngFor="let option of categoriesList" [value]="option">
                  <mat-icon
                  [ngStyle]="{'background-color':categoriesService.catEnum[categoriesService.catTitleEnum[option].id].bgcolor,'color':categoriesService.catEnum[categoriesService.catTitleEnum[option].id].textcolor}">

                    {{categoriesService.catTitleEnum[option].icon}}</mat-icon>
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>

        </div>

        <div class="mhq-input-wrapper mhq-col-4">

          <form class="mhq-subcats-form" style="width: 100%;">
            <mat-form-field>
              <mat-label>Sub categoria</mat-label>
              <mat-select [formControl]="subcatForm">
                <mat-option *ngFor="let option of subcategoriesList" [value]="option" class="mhq-subcat-select">
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>

        </div>

      </div>
      <div class="mhq-row">

        <div class="mhq-input-wrapper mhq-col-9">
          <mat-form-field appearance="fill">
            <mat-label>Obs</mat-label>
            <textarea matInput [(ngModel)]="tempTreasuryLog.obs"></textarea>
          </mat-form-field>
        </div>

        <div class="mhq-input-wrapper mhq-col-3">
          <mat-form-field appearance="fill">
            <mat-label>Valor</mat-label>
            <input matInput [(ngModel)]="tempTreasuryLog.value">
          </mat-form-field>
        </div>

      </div>

      <h1>
        <div>
          <mat-icon>info_outline</mat-icon>Recorrência
        </div>
      </h1>

      <div class="mhq-row">
        <mat-slide-toggle [(ngModel)]="recurrency" (change)="recurrencyToggle($event)">Recorrência</mat-slide-toggle>
      </div>

      <div class="mhq-row">

        <div class="mhq-input-wrapper mhq-col-4">
          <mat-form-field appearance="fill">
            <mat-label>Frequência da recorrência</mat-label>
            <mat-select [disabled]="!recurrency" [(ngModel)]="recurrencyType">
              <mat-option *ngFor="let freq of treasuryService.recurrencyFreq" [value]="freq.value">
                {{freq.string}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mhq-input-wrapper mhq-col-4">
          <mat-form-field appearance="fill">
            <mat-label>Número de ocorrências</mat-label>
            <input matInput type="number" [formControl]="recurrencyFrequency">
          </mat-form-field>
        </div>

      </div>

    </div>

  </div>

</div>